.about__wrapper {
  margin-top: 65px;

  @include desktopHd {
    margin-top: 290px;
    min-height: 400px;
  }

  @include desktop {
    margin-top: 400px;
    min-height: 330px;
  }

  @include tablets {
    margin-top: 170px;
    min-height: 760px;
  }
}

.about__content {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include desktop {
    justify-content: space-between;
  }
  
  @include tablets {
    justify-content: center;
  }
}
