.appeal__wrapper {
  margin-top: 193px;

  @include desktop {
    margin-top: 108px;
  }

  @include tablets {
    margin-top: 94px;
  }
}

.appeal__title {
  color: #414c63;
  font-size: 35px;
  line-height: 48px;
  font-weight: 700;

  @include desktopHd {
    padding-left: 30px;
  }

  @include desktop {
    padding-left: 0;
    text-align: center;
    font-size: 30px;
  }

  @include tablets {
    padding-left: 7px;
    font-size: 24px;
    text-align: left;
  }
}
