.data {
    width: 33%;
}

.data__pic {
    border-radius: 50%;
    margin-left: 75px;
    margin-top: 5px;
}

.data__table {
    padding-top: 58px;
}

.data__table-title {
    padding-top: 15px;
    font-weight: 600;
    color: #c3c5d0;
}

.data__table-discription {
    padding-top: 15px;
    padding-left: 73px;
    font-weight: 600;
    color: #414c63;
}