.header__wrapper {
  padding-top: 35px;
  padding-bottom: 35px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: transperent;
  transition: background-color .5s;
  z-index: 1;
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.js-fixed {
  background-color: rgba(#fff, 0.8);
  transition: background-color .5s;
}
