.logo {
    font-size: 36px;
    line-height: 26px;
    font-weight: 900;
    color: "text-color"; 
}

.logo__link {
    text-decoration: none;
    outline: none;  
    @include tablets {
  }  

  &:focus,
  &:hover {
    color: #5400f3;
  }
}