.logo__wrapper {
  @include desktopHd {
    margin-left: 25px;
  }

  @include desktop {
    margin-left: 0;
  }
}

.logo {
  font-size: 36px;
  line-height: 26px;
  font-weight: 900;
  color: $text-color;
  cursor: pointer;

  &:hover {
    color: #5400f3;
  }
}
