.popap-menu {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: #fff;
    width: 320px;
    height: 100vh;
    display: none;
    @include desktop {
    display: block;
    text-align: left;
  }
}

.js-hidden {
 display: none;
}