.reviews__wrapper {
  padding-top: 258px;
  @include desktopHd {
    padding-top: 225px;
  }

  @include desktop {
    padding-top: 237px;
  }

  @include tablets {
    padding-top: 165px;
  }
}

.reviews__title {
  color: #414c63;
  font-size: 35px;
  line-height: 48px;
  font-weight: 700;
  @include desktopHd {
    padding-left: 29px;
  }

  @include desktop {
    padding-left: 0;
    font-size: 30px;
  }

  @include tablets {
    text-align: center;
    font-size: 24px;
  }
}
