.scroll {
    display: flex;
    margin: 0% auto;
    width: 110px;
    padding-top: 330px;
}

.scroll__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
}

.scroll__icon {
    margin-left: 12px;
    fill: #414c63;
}