.user-data {
    width: 290px;
}

.user-data__img {
    border-radius: 50%;
    margin-left: 77px;
    margin-top: 5px;
}

.user-data__table {
    padding-top: 58px;
}

.user-data__table-title {
    padding-top: 15px;
    font-weight: 600;
    color: #c3c5d0;
}

.user-data__table-discription {
    padding-top: 15px;
    padding-left: 73px;
    font-weight: 600;
}