.welcome__section {
    margin-top: 310px;
}

.welcome {
    text-align: center;
    padding-left: 15px;
}

.welcome__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    color: "text-color";
    opacity: .5;
}

.welcome__developer-name {
    font-size: 72px;
    line-height: 60px;
    font-weight: 900;
    padding-top: 23px;
}