script(type="text/x-template")#form-template
    form.form(method="post")
        .form__present-wrapper
            label.form__input-title(for="form-name") Введите ваше имя
            input#form-name.form__input(type="text" name="name" placeholder="Ковальчук Дмитрий" required="")
        .form__email-wrapper
            label.form__input-title(for="form-email") Введите ваш email
            input#form-email.form__input(type="email" name="email" placeholder="loftschool@study.com" required="")
        .form__message-wrapper
            label.form__input-title(for="form-message") Сообщение к письму
            textarea#form-message.form__input(name="message" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса" required="")
        .form__send-wrapper
            button.form__send-btn(type="submit" @click.prevent) Отправить