section.about
    .container.about__wrapper
        .about__content#about-section
            h2.visually-hidden Информация о разработчике
            include user-data
            include user-information
