section.about#about-section
    .container.about__wrapper
        .about__content
            h2.visually-hidden Информация о разработчике
            include user-data
            include user-information
