.comments.comments__wrapper
    h3.comments__title Что обо мне говорят
    .comments__slider-controls
        button.comments__btn.comments__btn--prev(type='button' aria-label="Назад")
            svg.comments__percentage-ratio(viewbox='0 0 100 100' preserveaspectratio='none' width='53' height='53')
                circle.comments__circle-svg(cx='50' cy='50' r='46')
            +icon("arrow-down", "comments__btn-icon", width="10", height="10")
        button.comments__btn.comments__btn--next(type='button' aria-label="Вперёд")
            svg.comments__circle-svg(viewbox='0 0 100 100' preserveaspectratio='none' width='53' height='53')
                circle.comments__circle-svg(cx='50' cy='50' r='46')
            +icon("arrow-down", "comments__btn-icon", width="10", height="10")
    ul.comments__list
        li.comments__item
            .comments__text
                p Этот парень проходил обучение веб&nbsp;-&nbsp;разработке не где-то, а в LoftSchool! 4,5&nbsp;месяца только самых тяжелых испытаний&nbsp;и бессонных ночей!
            .comments__autor
                +image('content/user.jpg', 'comments__pic', width='76', height='76')
                .comments__autor-data
                    .comments__autor-name
                        p Ковальчук Дмитрий
                    .comments__autor-position    
                        p Основатель Loftschool
        li.comments__item
            .comments__text
                p Этот код выдержит любые испытания. Только&nbsp;пожалуйста, не загружайте сайт на слишком старых браузерах
            .comments__autor
                +image('content/user.jpg', 'comments__pic', width='76', height='76')
                .comments__autor-data
                    .comments__autor-name
                        p Владимир Сабанцев
                    .comments__autor-position
                        p Преподаватель