.data   
    +image("content/my_photo.jpg", "data__pic", width="200", height="200")
    table.data__table
        tr.data__table-item
            td.data__table-title Проживаю:
            td.data__table-discription Калининград
        tr.data__table-item
            td.data__table-title Возраст:
            td.data__table-discription 37 лет
        tr.data__table-item
            td.data__table-title Родился:
            td.data__table-discription 21 февраля 1982