form.form
    .form__wrapper.js-form(method="post")
        .form__present-wrapper.js-name.js-block
            label.form__input-title(for="form-name") Введите ваше имя
            input#form-name.form__input(type="text" name="name" placeholder="Ковальчук Дмитрий" required="")
            .form__error.js-error-block
        .form__email-wrapper.js-email.js-block
            label.form__input-title(for="form-email") Введите ваш email
            input#form-email.form__input(type="email" name="email" placeholder="loftschool@study.com" required="")
            .form__error.js-error-block
        .form__message-wrapper.js-message.js-block
            label.form__input-title(for="form-message") Сообщение к письму
            textarea#form-message.form__input(name="message" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса" required="")
            .form__error.js-error-block
        .form__send-wrapper.js-send-btn
            button.form__send-btn(type="submit") Отправить
            