.introduction
    .introduction__wrapper
        h1.introduction__title 
            | Личный сайт 
            br 
            |веб&nbsp;разработчика
        p.introduction__developer-name
            | Павел 
            br
            | Позняк
