mixin main-menu(mod)
    nav(class="main-menu main-menu--" + mod)
        ul.main-menu__list
            li.main-menu__item
                a(href="#main-header").main-menu__link Главная
            li.main-menu__item
                a(href="#about-section").main-menu__link Обо мне
            li.main-menu__item
                a(href="#values-section").main-menu__link Навыки
            li.main-menu__item
                a(href="#works-section").main-menu__link Работы
            li.main-menu__item
                a(href="#reviews-section").main-menu__link Отзывы
            li.main-menu__item
                a(href="#appeal-section").main-menu__link Связаться