.parallax-budda
    .parallax-budda__static
    .parallax-budda__moving
        .parallax-budda__layer(data-speed="15")
        .parallax-budda__layer(data-speed="25")
        .parallax-budda__layer(data-speed="40")
        .parallax-budda__layer(data-speed="20")
        .parallax-budda__layer(data-speed="20")
        .parallax-budda__layer(data-speed="20")
