.parallax-budda
    .parallax-budda__layer(data-speed="10")
        +image("parallax-budda/background.png", "parallax-budda__img parallax-budda__img--background", width="100%", height="auto", alt="Изображение для параллакса")
    .parallax-budda__layer(data-speed="15")
        +image("parallax-budda/mountain-budda.png", "parallax-budda__img parallax-budda__img--mountain-budda", width="100%", height="auto", alt="Изображение для параллакса")
    .parallax-budda__layer(data-speed="20")
        +image("parallax-budda/buddha.png", "parallax-budda__img parallax-budda__img--buddha", width="100%", height="auto", alt="Изображение для параллакса")
    .parallax-budda__layer(data-speed="25")
        +image("parallax-budda/cloud-3.png", "parallax-budda__img parallax-budda__img--cloud-3", width="100%", height="auto", alt="Изображение для параллакса")
    .parallax-budda__layer(data-speed="30")
        +image("parallax-budda/cloud-2.png", "parallax-budda__img parallax-budda__img--cloud-2", width="100%", height="auto", alt="Изображение для параллакса")
    .parallax-budda__layer(data-speed="35")
        +image("parallax-budda/cloud-1.png", "parallax-budda__img parallax-budda__img--cloud-1", width="100%", height="auto", alt="Изображение для параллакса")