.parallax-mountain
    .parallax-mountain__static
    .parallax-mountain__moving
        .parallax-mountain__layer(data-speed="10")
        .parallax-mountain__layer(data-speed="20")
        .parallax-mountain__layer(data-speed="50")
        .parallax-mountain__layer(data-speed="50")
        .parallax-mountain__layer(data-speed="30")
        .parallax-mountain__layer(data-speed="10")
        .parallax-mountain__layer(data-speed="20")