.parallax-budda
    .parallax-budda__layer(data-speed="10")
        +image("parallax-budda/background.png", "parallax-budda__img parallax-budda__img--background")
    .parallax-budda__layer(data-speed="15")
        +image("parallax-budda/mountain-budda.png", "parallax-budda__img parallax-budda__img--mountain-budda")
    .parallax-budda__layer(data-speed="20")
        +image("parallax-budda/buddha.png", "parallax-budda__img parallax-budda__img--buddha")
    .parallax-budda__layer(data-speed="25")
        +image("parallax-budda/cloud-3.png", "parallax-budda__img parallax-budda__img--cloud-3")
    .parallax-budda__layer(data-speed="30")
        +image("parallax-budda/cloud-2.png", "parallax-budda__img parallax-budda__img--cloud-2")
    .parallax-budda__layer(data-speed="35")
        +image("parallax-budda/cloud-1.png", "parallax-budda__img parallax-budda__img--cloud-1")