.parallax-mountain
    .parallax-mountain__layer(data-speed="10")
        +image("parallax-mountain/Sky.png", "parallax-mountain__img parallax-mountain__img--sky", alt="Изображение для параллакса")
    .parallax-mountain__layer(data-speed="35")
        +image("parallax-mountain/Mountain.png", "parallax-mountain__img parallax-mountain__img--mountain", alt="Изображение для параллакса")
    .parallax-mountain__layer(data-speed="20")
        +image("parallax-mountain/Baloon.png", "parallax-mountain__img parallax-mountain__img--baloon", alt="Изображение для параллакса")
    .parallax-mountain__layer(data-speed="10")
        +image("parallax-mountain/Cloud.png", "parallax-mountain__img parallax-mountain__img--cloud", alt="Изображение для параллакса")
    .parallax-mountain__layer(data-speed="50")
        +image("parallax-mountain/Man.png", "parallax-mountain__img parallax-mountain__img--man", alt="Изображение для параллакса")
    .parallax-mountain__layer(data-speed="10")
        +image("parallax-mountain/Mountain1.png", "parallax-mountain__img parallax-mountain__img--mountain1", alt="Изображение для параллакса")
    .parallax-mountain__layer(data-speed="10")
        +image("parallax-mountain/White.png", "parallax-mountain__img parallax-mountain__img--white", alt="Изображение для параллакса")