.parallax-mountain
    .parallax-mountain__layer(data-speed="10")
        +image("parallax-mountain/Sky.png", "parallax-mountain__img parallax-mountain__img--sky")
    .parallax-mountain__layer(data-speed="35")
        +image("parallax-mountain/Mountain.png", "parallax-mountain__img parallax-mountain__img--mountain")
    .parallax-mountain__layer(data-speed="20")
        +image("parallax-mountain/Baloon.png", "parallax-mountain__img parallax-mountain__img--baloon")
    .parallax-mountain__layer(data-speed="5")
        +image("parallax-mountain/Cloud.png", "parallax-mountain__img parallax-mountain__img--cloud")
    .parallax-mountain__layer(data-speed="30")
        +image("parallax-mountain/Man.png", "parallax-mountain__img parallax-mountain__img--man")
    .parallax-mountain__layer(data-speed="25")
        +image("parallax-mountain/Mountain1.png", "parallax-mountain__img parallax-mountain__img--mountain1")
    .parallax-mountain__layer(data-speed="10")
        +image("parallax-mountain/White.png", "parallax-mountain__img parallax-mountain__img--white")