mixin socials(mod)
    ul(class="socials socials--" + mod)
        li.socials__item
            a.socials__link.socials__link--instagram(href="https://www.instagram.com/pavelpozniak" aria-label="Инстаграм" target="_blank" rel="noreferrer")
                +icon("insta", "socials__icon socials__icon--instagram", width="26", height="26")
        li.socials__item
            a.socials__link.socials__link--vkontakte(href='https://vk.com/poznyak_pavel' aria-label="В контакте" target="_blank" rel="noreferrer")
                +icon("vk", "socials__icon socials__icon--vkontakte", width="30", height="30")
        li.socials__item
            a.socials__link.socials__link--github(href="https://github.com/justforthesoul" aria-label="Гитхаб" target="_blank" rel="noreferrer")
                +icon("github", "socials__icon socials__icon--github", width="27", height="27")