mixin socials(mod)
    ul(class="socials socials--" + mod)
        li.socials__item
            a.socials__link.socials__link--instagram(href="#" aria-label="Инстаграм")
                svg.socials__circle-svg(viewbox='0 0 100 100' preserveaspectratio='none' width='52' height='52')
                    circle.socials__circle(cx='50' cy='50' r='46')
                +icon("insta", "socials__icon", width="25", height="25")
        li.socials__item
            a.socials__link.socials__link--vkontakte(href='#' aria-label="В контакте")
                svg.socials__circle-svg(viewbox='0 0 100 100' preserveaspectratio='none' width='52' height='52')
                    circle.socials__circle(cx='50' cy='50' r='46')
                +icon("vk", "socials__icon", width="30", height="30")
        li.socials__item
            a.socials__link.socials__link--github(href="#" aria-label="Гитхаб")
                svg.socials__circle-svg(viewbox='0 0 100 100' preserveaspectratio='none' width='52' height='52')
                    circle.socials__circle(cx='50' cy='50' r='46')
                +icon("github", "socials__icon", width="27", height="27")