.user-information.user-information__wrapper
    .user-information__title
        p Привет, меня зовут
    .user-information__developer-name
        p Павел Позняк
    .user-information__about-developer
        p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
    .user-information__about-site
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите&nbsp;,&nbsp;как тут всё классно и красиво!

