.user-data.user-data__wrapper
    .user-data__pic
        +image("content/my_photo.jpg", "user-data__img",  width="200", height="200")
    table.user-data__table
        tr.user-data__table-item
            td.user-data__table-title Проживаю:
            td.user-data__table-discription Калининград
        tr.user-data__table-item
            td.user-data__table-title Возраст:
            td.user-data__table-discription 37 лет
        tr.user-data__table-item
            td.user-data__table-title Родился:
            td.user-data__table-discription 21&nbsp;февраля&nbsp;1982