section.values
    .container
        .values__wrapper
            .values__wrapper-text
                h2.values__title Чем я могу быть полезен вам
                .values__description
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .values__widget
                .values__widget-container
                    #skills-container          