section.welcome#welcome-section
    .container.welcome__wrapper
        .welcome__content
            h1.welcome__title Личный сайт веб&nbsp;разработчика
            .welcome__developer-name Павел Позняк
        include scroll