section.welcome.welcome__section
    .container
        h1.welcome__title 
            | Личный сайт 
            br 
            |веб&nbsp;разработчика
        .welcome__developer-name    
            p
                | Павел 
                br
                | Позняк
        include scroll