section.welcome.welcome__wrapper
    .container
        .welcome__content
            h1.welcome__title Личный сайт веб&nbsp;разработчика
            .welcome__developer-name    
                p Павел Позняк
        include scroll