section.works
    .container
        .works__wrapper
            .works__container#works-section
                h2.works__title Мои работы
                .works__content
                    #slider-component
