section.works#works-section
    .container
        .works__wrapper
            .works__container
                h2.works__title Мои работы
                .works__content
                    #slider-component
