.works-slider
    .works-slider__display
        .works-slider__content
            .works-slider__picture
                +image("previews/winter.png", "works-slider__img")
            ul.works-slider__list
                li.works-slider__item
                    a.works-slider__link(href="" aria-label="Работа 1")
                        +image("previews/car-min.png", "works-slider__preimg works-slider__preimg--car", width="178", height="100")
                li.works-slider__item
                    a.works-slider__link(href="" aria-label="Работа 2")
                        +image("previews/house-min.png", "works-slider__preimg works-slider__preimg--house", width="178", height="100")
                li.works-slider__item
                    a.works-slider__link(href="" aria-label="Работа 3")
                        +image("previews/green-min.png", "works-slider__preimg works-slider__preimg--green", width="178", height="100")
                li.works-slider__item
                    a.works-slider__link(href="" aria-label="Работа 4")
                        +image("previews/winter-min.png", "works-slider__preimg works-slider__preimg--winter", width="178", height="100")
            .works-slider__controls
                button.works-slider__btn.works-slider__btn--prev(href="" aria-label="Предыдущий")
                    +icon("arrow-down", "works-slider__btn-icon", width="10", height="10")
                button.works-slider__btn.works-slider__btn--next(href="" aria-label="Следующий")
                    +icon("arrow-down", "works-slider__btn-icon", width="10", height="10")
    .works-slider__description
        ul.works-slider__tags
            li.works-slider__tag-item HTML
            li.works-slider__tag-item CSS
            li.works-slider__tag-item Javascript
        h2.works-slider__title Сайт школы образования
        .works-slider__information
            p Этот парень проходил обучение веб&nbsp;-&nbsp;разработке не где-то, а в LoftSchool!&nbsp;2 месяца только самых тяжелых испытаний&nbsp;и&nbsp;бессонных ночей!
        .works-slider__link-wrapper
            +icon("link", "works-slider__icon", width="15", height="15")
            a.works-slider__icon-link(href="") Посмотреть сайт        